    html,
    body {
    	position: relative;
    	height: 100%;
    	font-size: 20px;
    }
    
    body {
    	background: #eee;
    	font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    	color: #fff;
    	margin: 0;
    	padding: 0;
    	background-color: #e7e8eb;
    }
    
    .swiper-container {
    	max-width: 640px;
    	width: 100%;
    	height: 100%;
    	margin-left: auto;
    	margin-right: auto;
    	background: url(../img/main-bg.png) no-repeat center;
    	background-size: cover;
    }
    
    .swiper-slide {
    	text-align: center;
    	font-size: 0.7rem;
    	/* Center slide text vertically */
    	display: -webkit-box;
    	display: -ms-flexbox;
    	display: -webkit-flex;
    	display: flex;
    	-webkit-box-pack: center;
    	-ms-flex-pack: center;
    	-webkit-justify-content: center;
    	justify-content: center;
    	-webkit-box-align: center;
    	-ms-flex-align: center;
    	-webkit-align-items: center;
    	align-items: center;
    	font-family: "Microsoft YaHei";
    }
    
    @-webkit-keyframes scale {
    	from {
    		-webkit-transform: scale(2);
    		transform: scale(2);
    	}
    	to {
    		-webkit-transform: scale(0.9);
    		transform: scale(0.9);
    	}
    }
    
    @keyframes scale {
    	from {
    		-webkit-transform: scale(2);
    		-ms-transform: scale(2);
    		transform: scale(2);
    	}
    	to {
    		-webkit-transform: scale(0.9));
    		-ms-transform: scale(0.9));
    		transform: scale(0.9);
    	}
    }
    
    .page-1 .self {
    	width: 28%;
    	position: absolute;
    	left: 36.875%;
    	top: 20.5%;
    	border-radius: 50%;
    }
    
    .scale {
    	-webkit-animation: scale ease;
    	animation: scale ease;
    }
    
    @-webkit-keyframes rotate {
    	from {}
    	to {
    		-webkit-transform: rotateZ(360deg);
    		transform: rotateZ(360deg);
    	}
    }
    
    @keyframes rotate {
    	from {}
    	to {
    		-webkit-transform: rotateZ(360deg);
    		-ms-transform: rotateZ(360deg);
    		transform: rotateZ(360deg);
    	}
    }
    
    .page-1 .self-wrap {
    	width: 37.5%;
    	position: absolute;
    	left: 32%;
    	top: 18%;
    	border-radius: 50%;
    	-webkit-animation: rotate 4s linear infinite;
    	animation: rotate 4s linear infinite;
    }
    
    .page-1 .p1 {
    	height: auto;
    	line-height: 1.4rem;
    	font-size: 1.6rem;
    }
    
    .page-1 .p2 {
    	height: auto;
    	margin: 10px auto;
    	line-height: 1.4rem;
    	font-size: 0.9rem;
    	position: absolute;
    	top: 55%;
    	left: 0;
    	right: 0;
    }
    
    .page-1 .p3 {
    	height: auto;
    	line-height: 1.4rem;
    	font-size: 0.9rem;
    	margin: 10px auto;
    	position: absolute;
    	top: 63%;
    	left: 0;
    	right: 0;
    }
    
    .page-2 {
    	flex-direction: column;
    	align-content: flex-start;
    }
    
    ul {
    	list-style: none;
    	width: 100%;
    	height: 11.7%;
    	position: absolute;
    	padding: 0;
    }
    
    .ul1 {
    	left: 0%;
    	top: 5%;
    }
    
    .ul1 li {
    	float: left;
    	width: 11%;
    	height: 54%;
    	margin: 0 4%;
    }
    
    .ul1 li img {
    	float: left;
    	list-style: none;
    	width: 100%;
    }
    
    .ul1 li:first-child {
    	position: relative;
    	width: 13%;
    	height: 65%;
    }
    
    .ul1 .self {
    	border-radius: 50%;
    }
    
    .ul1 .self-wrap {
    	width: 140%;
    	position: absolute;
    	top: -20%;
    	left: -20%;
    	animation: rotate 4s linear infinite;
    }
    
    .ul2 {
    	left: 0%;
    	top: 18%;
    	background-image: url(../img/ul2-bg.png);
    }
    
    .ul2 li {
    	float: right;
    	width: 19.7%;
    	height: 100%;
    	display: -webkit-box;
    	display: -ms-flexbox;
    	display: -webkit-flex;
    	display: flex;
    	-webkit-box-pack: center;
    	-ms-flex-pack: center;
    	-webkit-justify-content: center;
    	justify-content: center;
    	-webkit-box-align: center;
    	-ms-flex-align: center;
    	-webkit-align-items: center;
    	align-items: center;
    }
    
    .ul2 .li-bg {
    	background-image: url(../img/bg1.png);
    }
    
    .page-2 .div-p {
    	margin: 5% 5%;
    	position: absolute;
    	left: 16%;
    	top: 35%;
    	text-align: left;
    }
    
    .page-2 p img {
    	width: 0.7rem;
    	margin: 0 10px;
    }
    
    .swiper-slide .content {
    	width: 100%;
    	height: 65%;
    	position: absolute;
    	bottom: 0;
    	left: 0%;
    }
    
    .page-3 .center-line {
    	width: 1%;
    	height: 100%;
    }
    
    .page-3 .content div {
    	width: 15px;
    	height: 15px;
    	background-color: #FFF;
    	position: absolute;
    	border-radius: 50%;
    }
    
    .page-3 .div1 {
    	left: 51%;
    	top: 15%;
    }
    
    .page-3 .div2 {
    	left: 51%;
    	top: 35%;
    }
    
    .page-3 .div3 {
    	left: 51%;
    	top: 55%;
    }
    
    .page-3 .div4 {
    	left: 51%;
    	top: 75%;
    }
    
    .page-3 .content p {
    	position: absolute;
    }
    
    .page-3 .p1 {
    	left: 55%;
    	top: 10%;
    }
    
    .page-3 .p2 {
    	right: 55%;
    	top: 30%;
    }
    
    .page-3 .p3 {
    	left: 55%;
    	top: 50%;
    }
    
    .page-3 .p4 {
    	right: 55%;
    	top: 70%;
    }
    
    .page-4 .content img {
    	width: 70%;
    	height: 60%;
    	position: absolute;
    	left: 20%;
    	top: 10%;
    }
    
    .page-4 .content p {
    	position: absolute;
    }
    
    .page-4 .content .p1 {
    	left: 10%;
    	top: 18%;
    }
    
    .page-4 .content .p2 {
    	left: 10%;
    	top: 41%;
    }
    
    .page-4 .content .p3 {
    	left: 30%;
    	top: 67%;
    }
    
    .page-4 .content .p4 {
    	left: 45%;
    	top: 67%;
    }
    
    .page-4 .content .p5 {
    	left: 60%;
    	top: 67%;
    }
    
    .page-4 .content .p6 {
    	left: 75%;
    	top: 67%;
    }
    
    .page-4 .content div {
    	width: 7.5%;
    	background-color: #a2acac;
    	position: absolute;
    	bottom: 30%;
    }
    
    .page-4 .content .div1 {
    	height: 40%;
    	left: 30%;
    }
    
    .page-4 .content .div2 {
    	height: 37%;
    	left: 45%;
    }
    
    .page-4 .content .div3 {
    	height: 43%;
    	left: 60%;
    }
    
    .page-4 .content .div4 {
    	height: 40%;
    	left: 75%;
    }
    
    .page-5 .content {
    	height: 60%;
    	display: -webkit-box;
    	display: -ms-flexbox;
    	display: -webkit-flex;
    	display: flex;
    	-webkit-box-pack: center;
    	-ms-flex-pack: center;
    	-webkit-justify-content: center;
    	justify-content: center;
    	-webkit-align-content: flex-start;
    	-ms-align-content: flex-start;
    	align-content: flex-start;
    	-webkit-flex-wrap: wrap;
    	-webkit-box-lines: multiple;
    	-moz-flex-wrap: wrap;
    	flex-wrap: wrap;
    }
    
    .page-5 .content dl {
    	width: 25%;
    	height: 35%;
    	margin: 5px;
    }
    
    .page-5 .content dt {
    	width: 100%;
    }
    
    .page-5 .content dt img {
    	width: 100%;
    }
    
    .page-5 .content dd {
    	margin: 0;
    }
    
    .page-6 .content {
    	height: 50%;
    	display: -webkit-box;
    	display: -ms-flexbox;
    	display: -webkit-flex;
    	display: flex;
    	-webkit-box-orient: vertical;
    	-webkit-box-direction: normal;
    	-moz-box-orient: vertical;
    	-moz-box-direction: normal;
    	flex-direction: column;
    	-webkit-flex-direction: column;
    }
    
    .page-6 .self {
    	width: 28%;
    	position: absolute;
    	left: 36.875%;
    	top: 20.5%;
    	border-radius: 50%;
    }
    
    .page-6 .self-wrap {
    	width: 37.5%;
    	position: absolute;
    	left: 31.25%;
    	top: 18%;
    	border-radius: 50%;
    	-webkit-animation: rotate 4s linear infinite;
    	animation: rotate 4s linear infinite;
    }
    
    .page-6 p {
    	margin: 10px 0;
    }
    
    .page-6 .p1 {
    	font-size: 1.6rem;
    }
    
    .page-6 .p2 {
    	font-size: 1rem;
    }
    
    .page-6 .p3 {
    	font-size: 1rem;
    }
    
    .page-6 .p4 {
    	/*font-size: rem;*/
    }
    
    .page-6 .p4 img {
    	width: 0.7rem;
    	margin: 0 5px;
    }
    
    @-webkit-keyframes up {
    	from {}
    	to {
    		-webkit-transform: translateY(-20px);
    		transform: translateY(-20px);
    		opacity: 0;
    	}
    }
    
    @keyframes up {
    	from {}
    	to {
    		-webkit-transform: translateY(-20px);
    		-ms-transform: translateY(-20px);
    		transform: translateY(-20px);
    		opacity: 0;
    	}
    }
    
    .btn2 {
    	width: 30px;
    	position: fixed;
    	left: 48%;
    	bottom: 5%;
    	-webkit-animation: up 2s linear infinite;
    	-moz-animation: up 2s linear infinite;
    	-ms-animation: up 2s linear infinite;
    	animation: up 2s linear infinite;
    }